<style>
  @media only screen and (max-device-width: 600px) {
    .my__box {
      background-color: #1A414D;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 0.1em 0.7em 0px;
      margin-bottom: 1rem;
    }
  }

  @media (min-width: 57.8125em) {
    .page {
      width: 83.0508474576%;
      float: right;
      margin-right: 0;
      padding-left: 4.2372881356%;
      padding-right: 4.2372881356%;
    }
  }
</style>

<div id="Introduction">
  <h1 class="page__title" itemprop="headline">Giới Thiệu</h1>
  Xin chào, mình là Toàn. Hiện tại, mình là sinh viên chuyên ngành Khoa học Máy tính tại
  Đại học Nebraska - Lincoln ở Mỹ. Mình quan tâm đến việc giải quyết vấn đề và mang lại hạnh phúc cho mọi người. Trong thời gian rảnh của mình,
  mình thích tập thể dục, nghe nhạc và chơi game. Trò chơi điện tử yêu thích của mình là Team Fortress 2 , Stardew
  Valley và Faster Than Light.<br> <br>

  Mình bắt đầu phát triển trò chơi cách đây 4 tháng với tư cách là thực tập sinh tại Heli Studio ở Việt Nam. Sau đó, mình sớm
  tìm thấy niềm đam mê phát triển và tạo trò chơi cho mọi người thưởng thức. Hiện tại, mình đang phát triển game 2d tháng 3 năm sau. Chúng sẽ có sẵn trên itch.io
  miễn phí cũng như trong portfolio của mình sau khi hoàn thành.<br> <br>

  Mình hiện đang tìm kiếm công việc về vị trí Game Developer tháng 5 năm sau sau khi tốt nghiệp. Các bạn có thể liên lạc qua 
  <a href='tnguyen141@huskers.unl.edu'> email của mình </a>. Bạn cũng có thể tìm thêm địa chỉ liên hệ trên thanh bên trái .


</div>


<div id="Experience">
  <h1 class="page__title" itemprop="headline">Kinh Nghiệm Làm Việc </h1>
  <div class="{{ include.type | default: " list" }}__item">

    <div class="my__box nelnet_border">
      <img class="img_cover" src='/images/Nelnet.png' alt="Nelnet">
      <div class="inner_container">
        <h2 class="the_title"> Kỹ Sư Phần Mềm (thông qua UNL Design Studio)</h2>
        <h3> <a href='https://nelnetinc.com/nelnet-business-services/'>Nelnet</a> | Lincoln, NE | 8/2022 –
          hiện tại</h3>
        <ul>
          <li> Chương trình danh dự năm cuối của Jeffery S. Raikes School : Clarity - trang web dành cho nhân viên chăm sóc khách hàng</li>
          <li> Cải thiện thiết kế UI/UX của các trang Clarity để nhân viên tổng đài tra cứu thông tin dễ hơn thông qua React và
            MUI </li>
          <li> Thực hành phát triển với Agile/Scrum trong quá trình nâng cấp trang web</li>
        </ul>
        <h3>Công nghệ:</h3>
        <ul class="languages_box">
          <li class="items_languages_box">React</li>
          <li class="items_languages_box">Typescript</li>
          <li class="items_languages_box">MUI</li>
          <li class="items_languages_box">Jira</li>
          <li class="items_languages_box">GitHub</li>
        </ul>
      </div>
    </div>

    <div class="my__box heli_border">
      <img class="img_cover" src='/images/Heli-Studio.png' alt="Heli-Studio">
      <div class="inner_container">
        <h2 class="the_title"> Thực tập sinh Unity </h2>
        <h3> <a href='https://helistudio.vn/'>Heli Studio</a> | Hà Nội ,Việt Nam | 6/2022 – 10/2022 </h3>
        <ul>
          <li> Thiết kế thuật toán, cấp độ và hệ thống giao diện người dùng bằng Unity, C# </li>
          <li> Tham gia đánh giá code và các tính năng mới, ví dụ như tăng tốc thời gian tải giữa các cảnh của game.
          </li>
        </ul>
        <h3>Công nghệ:</h3>
        <ul class="languages_box">
          <li class="items_languages_box">Unity</li>
          <li class="items_languages_box">C#</li>
        </ul>
      </div>
    </div>

    <div class="my__box unl_border">
      <img class="img_cover" src='/images/DXG.png' alt="DXG">
      <div class="inner_container">
        <h2 class="the_title"> Web Developer bán thời gian </h2>
        <h3> <a href='https://dxg.unl.edu/'> UNL Digital Experience Group</a> | Lincoln, NE | 11/2021 – 5/2022
        </h3>
        <ul>
          <li> Hỗ trợ các developer cấp cao trong việc phát triển hệ thống trò chuyện cho UNL trong jQuery, PHP và
            JavaScript </li>
          <li> Phát triển chế độ tối/sáng cũng như CSS bootstrap cho các trang web của UNL để cải thiện giao diện người dùng</li>
          <li> Cập nhật và duy trì hơn một trăm trang web bằng HTML, CSS và PHP</li>
        </ul>
        <h3>Công nghệ:</h3>
        <ul class="languages_box">
          <li class="items_languages_box">HTML</li>
          <li class="items_languages_box">CSS</li>
          <li class="items_languages_box">JavaScript</li>
          <li class="items_languages_box">PHP</li>
          <li class="items_languages_box">jQuery</li>
          <li class="items_languages_box">GitHub</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="Portfolio">
  <h1 class="page__title" itemprop="headline">Dự Án</h1>
  <div class="{{ include.type | default: " list" }}__item">

    <div class="my__box goblin_border">
      <a href="https://redundacy.itch.io/goblins-castle" >
        <img class="img_cover" src='/images/goblins/castle.png' alt="Goblin_Castle">
      </a>
      <div class="inner_container">        
          <h2 class="the_title"> Goblin's Castle </h2>
        <p> Trò chơi 3D trực tuyến tại Câu lạc bộ phát triển trò chơi ở UNL,
          nơi bạn có thể chơi với 3 người chơi để khám phá ngục. Cộng tác trong một nhóm năm học sinh,
          mình chịu trách nhiệm về mảng kết nối mạng, đồng bộ hóa giữa máy khách và máy chủ thông qua Unity Netcode,
          cũng như UI/UX cho Goblin's Castle.

 </p>
          <p> Password : Gamer ( để tải game tại itch.io) </p>
          <h3>Công nghệ:</h3>
        <ul class="languages_box">
          <li class="items_languages_box">Unity 3D</li>
          <li class="items_languages_box">Unity Netcode</li>
          <li class="items_languages_box">C#</li>
          <li class="items_languages_box">Github</li>
        </ul>
        <h3>Link liên quan:</h3>
        <a class="btn" href="https://redundacy.itch.io/goblins-castle"> Itch.io </a> |
        <a class="btn" href='https://github.com/Redundacy/dungeon-crawler/tree/winter-build'> GitHub repo </a>
      </div>
    </div>

    <div class="my__box heli_border">

      <a href="https://play.google.com/store/apps/details?id=com.ToanCompany.Sudoku"> 
        <img class="img_cover" src='/images/sudoku/new_sudoku.png' alt="Sudoku"> 
      </a>
      
      <div class="inner_container">
          <h2 class="the_title"> Sudoku </h2>
        <p> Trò chơi Sudoku trên Andriod , phát triển dưới dạng bài tập ở Heli Studio . Game được trang bị với các chức năng cơ bản.
          Phối hợp với một nghệ sĩ khác trong nhóm, mình đã tạo thuật toán để tạo board sudoku, độ khó của game, trợ giúp cho người dùng và giao diện ứng dụng để phù hợp với màn hình khác
          nhau.</p>
          <h3>Công nghệ:</h3>
        <ul class="languages_box">
          <li class="items_languages_box">Unity</li>
          <li class="items_languages_box">C#</li>
        </ul>
        <h3>Link liên quan:</h3>
        <a class="btn" href="https://play.google.com/store/apps/details?id=com.ToanCompany.Sudoku"> Google Play Store
        </a> |
        <a class="btn" href='/images/sudoku/sudoku.apk'> Andriod apk </a>
      </div>
    </div>

    <div class="my__box cards_border">
      <img class="img_cover" src='/images/cards/solitaire.PNG' alt="CardGames">
      <div class="inner_container">
        <h2 class="the_title"> Card Games </h2>
        <p> Game chơi bài với chế độ solitaire hoặc war tại 1 máy. Cộng tác trong một nhóm năm học sinh, trách nhiệm của mình 
          là phát triển giao diện người dùng của trang menu chính,
          và bộ điều khiển xáo bài, xếp chồng và hiển thị trong phần solitaire.</p>
        <h3>Công nghệ:</h3>
        <ul class="languages_box">
          <li class="items_languages_box">Angular</li>
          <li class="items_languages_box">C#</li>
          <li class="items_languages_box">Typescript</li>
          <li class="items_languages_box">HTML</li>
          <li class="items_languages_box">CSS</li>
          <li class="items_languages_box">Jira</li>
          <li class="items_languages_box">Github</li>
        </ul>
        <h3>Link liên quan:</h3>
        <a class="btn" href='https://github.com/CKirby21/card-game-multiplayer'> GitHub </a>
      </div>
    </div>

    <div class="my__box android_border">
      <img class="img_cover" src='/images/google_app/new_android.png' alt="GSA">
      <!-- <p><a href="/images/goole_app/android.png" style="font-size: 12px;"> Click for full image</a></p> -->
      <div class="inner_container">
        <h2 class="the_title"> Google App </h2>
        <p> Một ứng dụng tìm kiếm của Google mà tôi đã tạo để tra cứu tin tức/nghiên cứu giống như Google. 
          Mình đã thiết kế một web crawler để điền vào database của trang web,
          dùng Elaticsearch để rút ngắn thời gian tìm kiếm và tạo giao diện người dùng để phù hợp với các thiết bị khác nhau. </p>
        <h3>Công nghệ:</h3>
        <ul class="languages_box">
          <li class="items_languages_box">Java</li>
          <li class="items_languages_box">HTML</li>
          <li class="items_languages_box">CSS</li>
          <li class="items_languages_box">PHP</li>
          <li class="items_languages_box">Laravel</li>
          <li class="items_languages_box">Elasticsearch</li>
          <li class="items_languages_box">MySql</li>
        </ul>
        <h3>Link liên quan:</h3>
        <a class="btn" href='https://github.com/Toan-Nguyen26/GoogleWebsite'> GitHub </a> |
        <a class="btn" href="/images/google_app/app_video.mp4"> Video demo</a>
      </div>

    </div>


  </div>
</div>

<div id="Education">
  <h1 class="page__title" itemprop="headline"> Quá Trình Học Tập</h1>
  <div class="{{ include.type | default: " list" }}__item">
    <div class="my__box unl_border">
      <img class="img_cover" src='/images/avery.jpg' alt="UNL">
      <div class="inner_container">
        <h2 class="the_title"> Bằng Cử Nhân ngành Công Nghệ Thông Tin </h2>
        <h3> Đại Học ở Nebraska - Lincoln | 2019 - 2023 </h3>
        <h3> Chuyên ngành chính : Công Nghệ Thông Tin | Chuyên ngành phụ : Toán Học </h3>
        <h3>Mình đã học những gì: </h3>
        <ul class="languages_box">
          <li class="items_languages_box">React.js</li>
          <li class="items_languages_box">HTML/CSS</li>
          <li class="items_languages_box">JavaScript</li>
          <li class="items_languages_box">C</li>
          <li class="items_languages_box">C++ </li>
          <li class="items_languages_box">C#</li>
          <li class="items_languages_box">Typescript</li>
          <li class="items_languages_box">OOP</li>
          <li class="items_languages_box">Git / Github</li>
          <li class="items_languages_box">Agile/Scrum</li>
        </ul>
        <h3> Thành Tích: </h3>
        <ul>
          <li>Học bổng Laureate của UNL (2019 - 2023): $15,000/ 1 năm </li>
          <li>UNL Dean List: Thu 2019, Xuân 2020, Thu 2022 </li>
        </ul>
      </div>
    </div>

    <div class="my__box parkway_border">
      <img class="img_cover" src='/images/parkway.jpg' alt="Parkway">
      <div class="inner_container">
        <h2 class="the_title"> Bằng tốt nghiệp trung học phổ thông </h2>
        <h3> Trường Parkway Christian | Michigan , Hoa Kì | 5/2019 </h3>
        <h3>Mình đã học những gì: </h3>
        <p> Giới thiệu về thiết kế web (HTML , CSS) . Lập trình cơ bản (Scratch) </p>
      </div>
    </div>

  </div>
</div>