{% include base_path %}

<!-- {% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %} -->

<style>
  
  @media only screen and (max-device-width: 600px) {
    .my__box{
        background-color: #1A414D; 
        box-shadow: rgba(0, 0, 0, 0.35) 0px 0.1em 0.7em 0px;
        margin-bottom: 1rem;
    }
  }
</style>

<div class="{{ include.type | default: "list" }}__item">

    <div class="my__box unl_border"> 
      <img class="img_cover" src='/images/avery.jpg' alt="UNL">
      <div class="inner_container">
        <h2 class="the_title"> B.S, Computer Science </h2>      
        <h3> University of Nebraska - Lincoln | May 2023 </h3>
        <h3> Major: Computer Science |Minors: Mathematics </h3>
        <h3>What I learned:</h3> 
        <p> Software Engineering , Operating Kernal Systems (C) . Programming Language Concept , Object Oriented Programming (Java)
          .Data Structures and Algorithms (C#) , Unix Programming. </p>
        <h3> Awards: </h3>
        <ul>
          <li>UNL Global Laureate Scholarship (2019 - 2023): $15,000/year</li>
          <li>UNL Dean List: Fall 2019, Spring 2020, Spring 2022 </li>
        </ul>
      </div>
    </div>
    
    <div class="my__box parkway_border" > 
      <img class="img_cover" src='/images/parkway.jpg' alt="Parkway">
      <div class="inner_container">
        <h2 class="the_title"> High School Diploma </h2>
        <h3> Parkway Christian School | May 2019 </h3>
        <h3>What I learned:</h3>
        <p> Introduction to Web Design (HTML , CSS) . Beginning Programming (Scratch) </p>
      </div>
    </div>
  
</div>
