{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <div class="my__box left_heli_border"> 
    <img class="img_cover" src='/images/cut_sudoku.png' style="width: 55%; height: 55%" alt="Sudoku">
    <a href="/images/sudoku/sudoku.png" style="font-size: 12px;"> Click for full image</a>
    <div class="inner_container">
      <h2 class="the_title"> Sudoku </h2>
      <p> An Andriod Sudoku game as part of a project by Heli Studio , equip with basic funtionality, difficulty settings , hint tools for the player </p>
      <h3>Technologies:</h3> 
      <ul class="languages_box">
        <li class="items_languages_box">Unity</li>
        <li class="items_languages_box">C#</li>
        <li class="items_languages_box">Github</li>
      </ul>
    </div>
  </div>

  <div class="my__box left_andriod_border"> 
    <img class="img_cover" src='/images/android_cut.png' style="width: 70%; height: 70%" alt="GSA">
    <p><a href="/images/android.png" style="font-size: 12px;"> Click for full image</a></p>
    <div class="inner_container">
      <h2 class="the_title"> Google search App </h2>
      <p> A Google search app where user can search for the results under 3 seconds from over 10000 websites </p>
      <h3>Technologies:</h3> 
      <ul class="languages_box">
        <li class="items_languages_box">Java</li>
        <li class="items_languages_box">HTML</li>
        <li class="items_languages_box">CSS</li>
        <li class="items_languages_box">PHP</li>
        <li class="items_languages_box">Laravel</li>
        <li class="items_languages_box">Elasticsearch</li>
        <li class="items_languages_box">MySql</li>
      </ul>
      <a href='https://github.com/Toan-Nguyen26/GoogleWebsite'> Link to the gitHub </a>
      </div>
    
  </div>

  <div class="my__box"> 
    <img class="img_cover" src='/images/solitaire.PNG' alt="CardGames" style="width: 85%; height: 85%">
    <div class="inner_container">
      <h2 class="the_title"> Card Games </h2>
      <p> A card game where you can play either solitaire or war game with your friends locally </p>
      <h3>Technologies:</h3> 
      <ul class="languages_box">
        <li class="items_languages_box">Angular</li>
        <li class="items_languages_box">C#</li>
        <li class="items_languages_box">Typescript</li>
        <li class="items_languages_box">HTML</li>
        <li class="items_languages_box">CSS</li>
        <li class="items_languages_box">Jira</li>
        <li class="items_languages_box">Github</li>
      </ul>
      <a href='https://github.com/CKirby21/card-game-multiplayer'> Link to the gitHub </a>
    </div>
  </div>

</div>
