{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}
<style>
  
  @media only screen and (max-device-width: 600px) {
    .my__box{
        background-color: #1A414D; 
        box-shadow: rgba(0, 0, 0, 0.35) 0px 0.1em 0.7em 0px;
        margin-bottom: 1rem;
    }
  }
</style>

<div class="{{ include.type | default: "list" }}__item">

    <div class="my__box heli_border"> 
      <img class="img_cover" src='/images/Heli-Studio.png' alt="Heli-Studio">
      <div class="inner_container">
        <h2 class="the_title"> Unity Developer Intern </h2>      
        <h3> <a href='https://helistudio.vn/'>Heli Studio</a> | Remote | June 2022 – current </h3>
        <ul>
          <li> Design the algorithm, levels, and UI system for our Android game - Word Burger using Unity, C#  </li>
          <li> Participated in code evaluation and new features, such as speeding up our loading time between scenes </li>
        </ul>
        <h3>Technologies:</h3> 
        <ul class="languages_box">
          <li class="items_languages_box">Unity</li>
          <li class="items_languages_box">C#</li>
          <li class="items_languages_box">Github</li>
        </ul>
      </div>
    </div>
  
    <div class="my__box nelnet_border"> 
      <img class="img_cover" src='/images/Nelnet.png' alt="Nelnet">
      <div class="inner_container">
        <h2 class="the_title"> Associate Software Engineer (via UNL Design Studio)</h2>      
        <h3> <a href='https://nelnetinc.com/nelnet-business-services/'>Nelnet</a> | Lincoln, NE | September 2022 – current</h3>
        <ul>
          <li> Jeffery S. Raikes School honors capstone program: Clarity - Centralize Lender Program  </li>
          <li> Improved UI/UX design of Clarity webpages to make the site look more appealing and easier to look up information</li>
          <li> Practice Agile Software Development cycle, bi-weekly sprint and monthly releases</li>
        </ul>
        <h3>Technologies:</h3> 
        <ul class="languages_box">
          <li class="items_languages_box">Typescript</li>
          <li class="items_languages_box">CSS</li>
          <li class="items_languages_box">GitHub</li>
          <li class="items_languages_box">Slack</li>
        </ul>
      </div>
    </div>
    
    <div class="my__box unl_border" > 
      <img class="img_cover" src='/images/DXG.png' alt="DXG">
      <div class="inner_container">
        <h2 class="the_title"> Part-time Web Developer </h2>
        <h3> <a href='https://dxg.unl.edu/'>UNL Digital Experience Group</a> | Lincoln, NE | November 2021 – May 2022 </h3>
        <ul>
          <li> Aided senior developers in full-stack development for a chatting system for UNL in jQuery, PHP, and JavaScript  </li>
          <li> Implemented dark/light mode as well as CSS bootstrap for UNL’s websites to improve user interface and experience</li>
          <li> Updated and maintained more than a hundred website in HTML, CSS and PHP</li>
        </ul>
        <h3>Technologies:</h3> 
        <ul class="languages_box">
          <li class="items_languages_box">HTML</li>
          <li class="items_languages_box">CSS</li>
          <li class="items_languages_box">JavaScript</li>
          <li class="items_languages_box">PHP</li>
          <li class="items_languages_box">jQuery</li>
          <li class="items_languages_box">GitHub</li>
          <li class="items_languages_box">Slack</li>
        </ul>
      </div>
    </div>
  
</div>
