{% include base_path %}

<!-- 
{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %} -->
<style>
  
  @media only screen and (max-device-width: 600px) {
    .my__box{
        background-color: #1A414D; 
        box-shadow: rgba(0, 0, 0, 0.35) 0px 0.1em 0.7em 0px;
        margin-bottom: 1rem;
    }
  }
</style>

<div id="Portfolio" class="{{ include.type | default: "list" }}__item">
  <h1 class="page__title" itemprop="headline">Portfolio</h1>
  <div class="my__box heli_border"> 
    <img class="img_cover" src='/images/sudoku/new_sudoku.png' alt="Sudoku">
    <!-- <a href="/images/sudoku/sudoku.png" style="font-size: 12px;"> Click for full image</a> -->
    <div class="inner_container">
      <h2 class="the_title"> Sudoku </h2>
      <p> An Andriod Sudoku game as part of a project by Heli Studio, equipped with basic functionalities. Collaborated with another artist in the team, I created a system to populate different sudoku, difficulty settings, helper methods for a player if they're stuck,  and the frontend of the app to fit different screen sizes.</p>
      <h3>Technologies:</h3> 
      <ul class="languages_box">
        <li class="items_languages_box">Unity</li>
        <li class="items_languages_box">C#</li>
        <li class="items_languages_box">Github</li>
      </ul>
      <h3>External Link:</h3> 
      <a class="btn" href='/images/sudoku/sudoku.apk'> Andriod apk </a>
    </div>
  </div>

  <div class="my__box cards_border"> 
    <img class="img_cover" src='/images/cards/solitaire.PNG' alt="CardGames">
    <!-- <p><a href="/images/cards" style="font-size: 12px;"> Click for full image</a></p> -->
    <div class="inner_container">
      <h2 class="the_title"> Card Games </h2>
      <p> A card game where you can play either solitaire or war game with your friends locally. Working within a team of five computer science students, my responsibility is to developed the front-end of the main menu page, 
        and the controller for the card shuffling, stacking, and displaying in the solitaire section.</p>
      <h3>Technologies:</h3> 
      <ul class="languages_box">
        <li class="items_languages_box">Angular</li>
        <li class="items_languages_box">C#</li>
        <li class="items_languages_box">Typescript</li>
        <li class="items_languages_box">HTML</li>
        <li class="items_languages_box">CSS</li>
        <li class="items_languages_box">Jira</li>
        <li class="items_languages_box">Github</li>
      </ul>
      <h3>External Link:</h3> 
      <a class="btn" href='https://github.com/CKirby21/card-game-multiplayer'> GitHub repo</a> 
    </div>
  </div>

  <div class="my__box android_border"> 
    <img class="img_cover" src='/images/google_app/new_android.png' alt="GSA">
    <!-- <p><a href="/images/goole_app/android.png" style="font-size: 12px;"> Click for full image</a></p> -->
    <div class="inner_container">
      <h2 class="the_title"> Google search App </h2>
      <p> A Google search app that I created for a professor in Vietnam to look up news/research related to his university. I designed a web crawler to populate the site's database,  
        applied Elasticsearch to shorten search time, and created the front-end to fits different devices. </p>
      <h3>Technologies:</h3> 
      <ul class="languages_box">
        <li class="items_languages_box">Java</li>
        <li class="items_languages_box">HTML</li>
        <li class="items_languages_box">CSS</li>
        <li class="items_languages_box">PHP</li>
        <li class="items_languages_box">Laravel</li>
        <li class="items_languages_box">Elasticsearch</li>
        <li class="items_languages_box">MySql</li>
      </ul>
      <h3>External Link:</h3> 
      <a class="btn" href='https://github.com/Toan-Nguyen26/GoogleWebsite'> GitHub repo</a> | 
      <a class="btn" href="/images/google_app/app_video.mp4"> Demonstration video</a>
      </div>
    
  </div>


</div>
