<style>
  @media only screen and (max-device-width: 600px) {
    .my__box {
      background-color: #1A414D;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 0.1em 0.7em 0px;
      margin-bottom: 1rem;
    }
  }

  @media (min-width: 57.8125em) {
    .page {
      width: 83.0508474576%;
      float: right;
      margin-right: 0;
      padding-left: 4.2372881356%;
      padding-right: 4.2372881356%;
    }
  }
</style>

<div id="Introduction" class="mainSections">
  <h1 class="page__title" itemprop="headline">About Me</h1>
  Hi, I’m Toan! I'm a software engineer and UI/UX designer with an interest in tackling challenges 
  and creating solutions that bring happiness to people's lives. In my leisure time, I find 
  enjoyment in staying active, listening to music, and writing.<br> <br>

  I recently graduated with a Bachelor of Science in Computer Science and minors Math from the University of Nebraska-Lincoln
  .I’m currently available for a full-time position a software developer position. So feel free to get in touch with me
  through <a href="toan.nguyenhai2607@gmail.com">my email</a> or <a href="0967937483">number </a>. 
  You can also find more information on the sidebar.
</div>


<div id="Experience" class="mainSections">
  <h1 class="page__title" itemprop="headline">Experience</h1>
  <div class="{{ include.type | default: " list" }}__item">

    <div class="my__box nelnet_border">
      <img class="img_cover" src='/images/Nelnet.png' alt="Nelnet">
      <div class="inner_container">
        <h2 class="the_title"> Associate Software Engineer (via UNL Design Studio)</h2>
        <h3> <a href='https://nelnetinc.com/nelnet-business-services/'>Nelnet</a> | Lincoln, NE | September 2022 –
          May 2023</h3>
        <ul>
          <li> Jeffery S. Raikes School honors capstone program: Clarity - Centralize Lender Program </li>
          <li> Revolutionized the user experience of Clarity webpages for call center agents by enhancing the 
            frontend using React.js,Typescript and MUI, enabling seamless access to essential information. </li>
          <li> Practiced Agile Software Development cycle through bi-weekly sprint and monthly releases</li>
        </ul>
        <h3>Technologies:</h3>
        <ul class="languages_box">
          <li class="items_languages_box">React.js</li>
          <li class="items_languages_box">Typescript</li>
          <li class="items_languages_box">MUI</li>
          <li class="items_languages_box">CSS</li>
          <li class="items_languages_box">GitHub</li>
        </ul>
      </div>
    </div>

    <div class="my__box heli_border">
      <img class="img_cover" src='/images/Heli-Studio.png' alt="Heli-Studio">
      <div class="inner_container">
        <h2 class="the_title"> Unity Developer Junior </h2>
        <h3> <a href='https://helistudio.vn/'>Heli Studio</a> | Remote | June 2022 – September 2022 </h3>
        <ul>
          <li> Design the game's algorithm, levels, and UI system using Unity, C# </li>
          <li> Participated in code evaluation and new features, such as speeding up our loading time between scenes
          </li>
        </ul>
        <h3>Technologies:</h3>
        <ul class="languages_box">
          <li class="items_languages_box">Unity</li>
          <li class="items_languages_box">C#</li>
        </ul>
      </div>
    </div>

    <div class="my__box unl_border">
      <img class="img_cover" src='/images/DXG.png' alt="DXG">
      <div class="inner_container">
        <h2 class="the_title"> Part-time Web Developer </h2>
        <h3> <a href='https://dxg.unl.edu/'>UNL Digital Experience Group</a> | Lincoln, NE | November 2021 – May 2022
        </h3>
        <ul>
          <li> Aided senior developers in front-end development for a chatting system for UNL in JavaScript and HTML </li>
          <li> Implemented dark/light mode as well as CSS bootstrap for UNL’s websites to improve user interface and
            experience</li>
          <li> Updated and maintained more than a hundred websites to fit UNL's standard in HTML, CSS</li>
        </ul>
        <h3>Technologies:</h3>
        <ul class="languages_box">
          <li class="items_languages_box">HTML</li>
          <li class="items_languages_box">CSS</li>
          <li class="items_languages_box">JavaScript</li>
          <li class="items_languages_box">jQuery</li>
          <li class="items_languages_box">GitHub</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="Portfolio" class="mainSections">
  <h1 class="page__title" itemprop="headline">Portfolio</h1>
  <div class="{{ include.type | default: " list" }}__item">

    <div class="my__box android_border">
      <img class="img_cover" src='/images/google_app/new_android.png' alt="GSA">
      <div class="inner_container">
        <h2 class="the_title"> Google search App </h2>
        <p> A Google search app that I created for a professor in Vietnam to look up news/research related to his
          university. I designed a web crawler to populate the site's database,
          applied Elasticsearch to shorten search time, and created the front-end to fits different devices. </p>
        <h3>Technologies:</h3>
        <ul class="languages_box">
          <li class="items_languages_box">HTML</li>
          <li class="items_languages_box">CSS</li>
          <li class="items_languages_box">PHP</li>
          <li class="items_languages_box">Laravel</li>
          <li class="items_languages_box">Elasticsearch</li>
          <li class="items_languages_box">MySql</li>
        </ul>
        <h3>External Link:</h3>
        <a class="btn" href='https://github.com/Toan-Nguyen26/GoogleWebsite'> GitHub repo</a> |
        <a class="btn" href="/images/google_app/app_video.mp4"> Demonstration video</a>
      </div>

    </div>

    <div class="my__box supertf_border">
      <a href="https://garami-26.itch.io/supertfs-birthday-game" >
        <img class="img_cover" src='/images/supertf/new_index.png' alt="supertf_game">
      </a>
      <div class="inner_container">        
          <h2 class="the_title"> supertf's birthday game </h2>
        <p> Engineered a bespoke 2D adventure and text-based game for Twitch streamer supertf's birthday celebration. 
          As the lead coder, I devised game mechanics, logic, and UI design through OOP in C#.
           Collaborating closely with artists and writers, I ensured an immersive experience that captivated supertf and his viewers.  </p>
        <h3>Technologies:</h3>
        <ul class="languages_box">
          <li class="items_languages_box">Unity </li>
          <li class="items_languages_box">C#</li>
          <li class="items_languages_box">Github</li>
        </ul>
        <h3>External Link:</h3>
        <a class="btn" href="https://garami-26.itch.io/supertfs-birthday-game"> Itch.io </a> |
        <a class="btn" href='https://github.com/Toan-Nguyen26/supertf-game'> GitHub repo </a> |
        <a class="btn" href="https://youtu.be/UAdTY8hGQro?t=2132"> Gameplay Video </a>
      </div>
    </div>

    <div class="my__box goblin_border">
      <a href="https://redundacy.itch.io/goblins-castle" >
        <img class="img_cover" src='/images/goblins/castle.png' alt="Goblin_Castle">
      </a>
      <div class="inner_container">        
          <h2 class="the_title"> Goblin's Castle </h2>
        <p> Engaged in a UNL Game Development Club endeavor, co-creating a 3D online multiplayer game for a dungeon exploration. 
          In a team of five, I was responsible for the networking, Unity Netcode synchronization, and the game's UI/UX design. </p>
          <p> Password : Gamer ( to access the itch.io file) </p>
        <h3>Technologies:</h3>
        <ul class="languages_box">
          <li class="items_languages_box">Unity 3D</li>
          <li class="items_languages_box">Unity Netcode</li>
          <li class="items_languages_box">C#</li>
          <li class="items_languages_box">Github</li>
        </ul>
        <h3>External Link:</h3>
        <a class="btn" href="https://redundacy.itch.io/goblins-castle"> Itch.io </a> |
        <a class="btn" href='https://github.com/Redundacy/dungeon-crawler/tree/winter-build'> GitHub repo </a>
      </div>
    </div>

    <div class="my__box heli_border">

      <a href="https://play.google.com/store/apps/details?id=com.ToanCompany.Sudoku"> 
        <img class="img_cover" src='/images/sudoku/new_sudoku.png' alt="Sudoku"> 
      </a>
      
      <div class="inner_container">
          <h2 class="the_title"> Sudoku </h2>
        <p> An Andriod Sudoku game as part of a project by Heli Studio, equipped with basic functionalities.
          Collaborated with another artist in the team, I created a system to populate different sudoku, difficulty
          settings, helper methods and the UI of the app to fit different screen
          sizes.</p>
        <h3>Technologies:</h3>
        <ul class="languages_box">
          <li class="items_languages_box">Unity</li>
          <li class="items_languages_box">C#</li>
        </ul>
        <h3>External Link:</h3>
        <a class="btn" href="https://play.google.com/store/apps/details?id=com.ToanCompany.Sudoku"> Google Play Store
        </a> |
        <a class="btn" href='/images/sudoku/sudoku.apk'> Andriod apk </a>
      </div>
    </div>

    <div class="my__box cards_border">
      <img class="img_cover" src='/images/cards/solitaire.PNG' alt="CardGames">
      <div class="inner_container">
        <h2 class="the_title"> Card Games </h2>
        <p> A card game where you can play either solitaire or war game with your friends locally. Working within a team
          of five, my responsibility was to developed the UI of the main menu page,
          and the controller for the card shuffling, stacking, and displaying in the solitaire section.</p>
        <h3>Technologies:</h3>
        <ul class="languages_box">
          <li class="items_languages_box">Angular</li>
          <li class="items_languages_box">C#</li>
          <li class="items_languages_box">Typescript</li>
          <li class="items_languages_box">HTML</li>
          <li class="items_languages_box">CSS</li>
          <li class="items_languages_box">Jira</li>
          <li class="items_languages_box">Github</li>
        </ul>
        <h3>External Link:</h3>
        <a class="btn" href='https://github.com/CKirby21/card-game-multiplayer'> GitHub repo</a>
      </div>
    </div>



  </div>
</div>

<div id="Education" class="mainSections">
  <h1 class="page__title" itemprop="headline">Education</h1>
  <div class="{{ include.type | default: " list" }}__item">
    <div class="my__box unl_border">
      <img class="img_cover" src='/images/avery.jpg' alt="UNL">
      <div class="inner_container">
        <h2 class="the_title"> B.S, Computer Science </h2>
        <h3> University of Nebraska - Lincoln | May 2023 </h3>
        <h3> Major: Computer Science |Minors: Mathematics </h3>
        <h3> GPA: 3.75 / 4</h3>
        <h3>What I learned:</h3>
        <ul class="languages_box">
          <li class="items_languages_box">React.js</li>
          <li class="items_languages_box">HTML/CSS</li>
          <li class="items_languages_box">JavaScript</li>
          <li class="items_languages_box">C</li>
          <li class="items_languages_box">C++ </li>
          <li class="items_languages_box">C#</li>
          <li class="items_languages_box">OOP</li>
          <li class="items_languages_box">Git / Github</li>
          <li class="items_languages_box">Agile/Scrum</li>
        </ul>
        <h3> Awards: </h3>
        <ul>
          <li>UNL Global Laureate Scholarship (2019 - 2023): $15,000/year</li>
          <li>UNL Dean List: Fall 2019, Spring 2020, Fall 2022, Spring 2023 </li>
        </ul>
      </div>
    </div>

    <div class="my__box parkway_border">
      <img class="img_cover" src='/images/parkway.jpg' alt="Parkway">
      <div class="inner_container">
        <h2 class="the_title"> High School Diploma </h2>
        <h3> Parkway Christian School | May 2019 </h3>
        <h3>What I learned:</h3>
        <p> Introduction to Web Design (HTML , CSS) . Beginning Programming (Scratch) </p>
      </div>
    </div>

  </div>
</div>